.button-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 2em;
}

.wager-button, .selected {
    padding: 1em;
    width: 44px;
    font-size: 18px;
    margin-right: 5em;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 2px;
    font-family: 'Montserrat', sans-serif;    
    background: #fff;
    box-shadow: 0 0 0 5px #fff, inset 0 0 0 1px #242424;
}

.selected {
    background: #cae0c6;
    box-shadow: 0 0 0 5px #cae0c6, inset 0 0 0 1px #242424;
}

.wager-header {
    margin: 2em 0;
}
