.round-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

.visual-question {
    width: 90vw;
}

.checkbox {
    margin: 0;
    width: 25px;
    margin-right: .5em;
}

.error {
    color: #ff0000;
}
