.sign-up-skeleton {
    text-align: left;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
}

.room-code-input {
    text-transform: uppercase;
}

.sign-up-error {
    color: #a54545;
}

a {
    color: #c3c3e9;
    margin-top: 1em;
}

.end-message {
    margin-top: 1em;
}

.sign-up-button {
    margin: 3em 0;
}