.submissions {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.score-table {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.answer-row {
    display: flex;
    flex-direction: row;
    padding-bottom: .5em;
}

.score-display {
    color: #4fac5a;
    padding-left: 1em;
}