.App {
  text-align: left;
  height: 100vh;
  background-color: #242424;
  font-family: 'Montserrat', sans-serif;
  color: #DCD0D0;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

input {
  margin: 1em 0;
  height: 25px;
  width: 90%;
}

button {
  display: inline-block;
  padding: 6px 8px;
  width: 30%;
  margin-top: 3em;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  background: #DCD0D0;
  box-shadow: 0 0 0 5px #DCD0D0, inset 0 0 0 1px #242424;
}

.temp {
  width: 10%;
  box-shadow: none;
  background: black;
  color: white;
}

.App-header {
  height: 8vh;
  width: 100vw;
  background-color: #1e1e1e;
  background-position: center;
  position: absolute;
  background-image: url('images/header.png');
  background-size: cover;
}

.footer {
  background-image: url('images/footer.png');
  background-size: cover;
  height: 2vh;
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 1em 0;
  background-color: #1e1e1e;
  display: flex;
  justify-content: space-between;
}

.footer-label {
  margin-right: 1em;
  text-align: right;
  color: #acacac;
  font-family: 'Playfair Display', serif;
  font-size: 10pt;
}

.total-display {
  color: #ffffff;
  margin-left: 1em;
}

.footer-skeleton {
  display: block;
}

.hard-reset {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: fit-content;
  background-color: transparent;
  color: transparent;
  text-decoration: none;
  box-shadow: none;
  border: none;
}

.content-skeleton {
  background-color: #242424;
  padding: 4em 1.5em 8em;
  overflow-y: scroll;
}

